<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<string>afiiCyrl</string>
			<key>type</key>
			<string>characterSet</string>
		</dict>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_C</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_D</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_K</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_L</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_P</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_R</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_T</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_V</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_Y</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_Z</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10017</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10021</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10032</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10034</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10035</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10036</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10052</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii100581</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10061</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10062</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10066</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10068</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10070</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii100721</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10083</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10085</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_afii10092</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_b</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_c</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_comma</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_e</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_hyphen</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_k</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_parenleft</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_quotedbl</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_quotesinglbase</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_r</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_space</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_t</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_uni04BC</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_v</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_z</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_C1</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_T</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_V</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Y</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Z</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_a</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10017</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10024</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10041</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10044</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10047</key>
		<array>
			<real>0.5</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10051</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10053</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10058</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10062</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10065</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10069</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii100701</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10072</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10075</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10084</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10085</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_afii10089</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_agrave</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_c1</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_comma</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_hyphen</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_parenright</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_quotedbl</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_quotesinglbase</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_registered</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_space</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_t</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni04BC</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni04BD</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_uni04D8</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_v</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_z</key>
		<array>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>aalt1</key>
		<array>
			<real>1.0</real>
			<real>0.5</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>aalt2</key>
		<array>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>case1</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.0</real>
			<real>0.25</real>
		</array>
		<key>ccmp1</key>
		<array>
			<real>0.0</real>
			<real>1.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>cpsp1</key>
		<array>
			<real>0.0</real>
			<real>0.5</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
		<key>ordn1</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>1.0</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>exclam</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>dotlessi</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>minus</string>
		<string>u00A0</string>
		<string>afii10017</string>
		<string>afii10018</string>
		<string>afii10019</string>
		<string>afii10020</string>
		<string>afii10021</string>
		<string>afii10022</string>
		<string>afii10023</string>
		<string>afii10024</string>
		<string>afii10025</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>afii10028</string>
		<string>afii10029</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10033</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10037</string>
		<string>afii10038</string>
		<string>afii10039</string>
		<string>afii10040</string>
		<string>afii10041</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10046</string>
		<string>afii10047</string>
		<string>afii10048</string>
		<string>afii10049</string>
		<string>afii10065</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10069</string>
		<string>afii10070</string>
		<string>afii10071</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10076</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10080</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10086</string>
		<string>afii10087</string>
		<string>afii10088</string>
		<string>afii10089</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>afii10094</string>
		<string>afii10095</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>afii10051</string>
		<string>afii10099</string>
		<string>afii10050</string>
		<string>afii10055</string>
		<string>afii10052</string>
		<string>afii10100</string>
		<string>afii10103</string>
		<string>afii10098</string>
		<string>afii10057</string>
		<string>afii10053</string>
		<string>afii10101</string>
		<string>afii10056</string>
		<string>afii10104</string>
		<string>afii10058</string>
		<string>afii10106</string>
		<string>afii10059</string>
		<string>afii10107</string>
		<string>afii10105</string>
		<string>afii10054</string>
		<string>afii10060</string>
		<string>afii10108</string>
		<string>afii10061</string>
		<string>afii10109</string>
		<string>afii10102</string>
		<string>afii10062</string>
		<string>afii10110</string>
		<string>afii10145</string>
		<string>afii10193</string>
		<string>afii10146</string>
		<string>afii10194</string>
		<string>afii10147</string>
		<string>afii10195</string>
		<string>afii10148</string>
		<string>afii10196</string>
		<string>afii61352</string>
		<string>uni20CB</string>
		<string>Hcircumflex</string>
		<string>uni20CA</string>
		<string>uni20CF</string>
		<string>uni20CD</string>
		<string>uni20CE</string>
		<string>uni20B6</string>
		<string>quotedblright</string>
		<string>kcommaaccent</string>
		<string>ccaron</string>
		<string>quotesinglbase</string>
		<string>uni20CC</string>
		<string>Euro</string>
		<string>uni04E6</string>
		<string>lcaron</string>
		<string>uni04AB</string>
		<string>uni2011</string>
		<string>amacron</string>
		<string>uni20C8</string>
		<string>uni20C9</string>
		<string>uni20C2</string>
		<string>uni20C3</string>
		<string>uni20C0</string>
		<string>uni20C1</string>
		<string>uni20C6</string>
		<string>uni20C7</string>
		<string>uni20C4</string>
		<string>uni20C5</string>
		<string>uniF51E</string>
		<string>uniF51D</string>
		<string>Kcommaaccent</string>
		<string>uniF51F</string>
		<string>uniF51A</string>
		<string>uniF51C</string>
		<string>uniF51B</string>
		<string>uni0526</string>
		<string>uni0524</string>
		<string>uni0525</string>
		<string>Scaron</string>
		<string>uni04C8</string>
		<string>uni04C9</string>
		<string>uni04C4</string>
		<string>uni04C5</string>
		<string>uni04C7</string>
		<string>uni04C0</string>
		<string>uni04C3</string>
		<string>lessequal</string>
		<string>gcommaaccent</string>
		<string>Ccircumflex</string>
		<string>uni04CA</string>
		<string>uni04CB</string>
		<string>uni04CC</string>
		<string>Uhungarumlaut</string>
		<string>Rcaron</string>
		<string>uniF515</string>
		<string>uniF514</string>
		<string>uniF517</string>
		<string>uniF516</string>
		<string>uniF511</string>
		<string>uniF510</string>
		<string>uniF512</string>
		<string>uniF519</string>
		<string>uniF518</string>
		<string>Edotaccent</string>
		<string>Abreve</string>
		<string>Lacute</string>
		<string>summation</string>
		<string>Gbreve</string>
		<string>uni1E31</string>
		<string>dcaron</string>
		<string>scaron</string>
		<string>greaterequal</string>
		<string>uni0498</string>
		<string>uni0499</string>
		<string>uni0496</string>
		<string>oe</string>
		<string>Eogonek</string>
		<string>uniF6C9</string>
		<string>uni0492</string>
		<string>uniF6C3</string>
		<string>uniF49E</string>
		<string>uniF49F</string>
		<string>l.var</string>
		<string>afii10103.alt</string>
		<string>uni051C</string>
		<string>lacute</string>
		<string>uni051D</string>
		<string>uniF54D</string>
		<string>uniF54B</string>
		<string>uniF54C</string>
		<string>uniF54A</string>
		<string>uni0512</string>
		<string>product</string>
		<string>uni0510</string>
		<string>umacron</string>
		<string>uniF548</string>
		<string>uniF549</string>
		<string>uniF546</string>
		<string>uniF547</string>
		<string>uniF544</string>
		<string>uniF545</string>
		<string>uniF542</string>
		<string>uniF543</string>
		<string>uniF540</string>
		<string>uniF541</string>
		<string>fi</string>
		<string>fl</string>
		<string>one.numerator</string>
		<string>uniF6CE</string>
		<string>uniF6CF</string>
		<string>uniF6CA</string>
		<string>uniF6CB</string>
		<string>uni1E54</string>
		<string>uni1E55</string>
		<string>uring</string>
		<string>Scedilla</string>
		<string>gcircumflex</string>
		<string>radical</string>
		<string>caron.l</string>
		<string>Idotaccent</string>
		<string>ccircumflex</string>
		<string>dcroat</string>
		<string>.null</string>
		<string>omacron</string>
		<string>ncommaaccent</string>
		<string>uni0513</string>
		<string>endash</string>
		<string>uni0511</string>
		<string>Ohungarumlaut</string>
		<string>acutecomb</string>
		<string>Ecaron</string>
		<string>Lcaron</string>
		<string>Tcommaaccent</string>
		<string>Ncommaaccent</string>
		<string>imacron</string>
		<string>uni04AB.alt</string>
		<string>.notdef</string>
		<string>uni04EE</string>
		<string>notequal</string>
		<string>fraction.alt</string>
		<string>uni0237</string>
		<string>Ubreve</string>
		<string>uni2215</string>
		<string>uniF50F</string>
		<string>uniF50E</string>
		<string>Rcommaaccent</string>
		<string>Ydieresis</string>
		<string>uni0527</string>
		<string>Aogonek</string>
		<string>uni04B4</string>
		<string>Jcircumflex</string>
		<string>tcaron</string>
		<string>longs</string>
		<string>lcommaaccent</string>
		<string>Lslash</string>
		<string>abreve</string>
		<string>racute</string>
		<string>florin</string>
		<string>estimated</string>
		<string>uni04DE</string>
		<string>uni04DF</string>
		<string>uni04DA</string>
		<string>uni04DC</string>
		<string>uni04DB</string>
		<string>Emacron</string>
		<string>edotaccent</string>
		<string>Nacute</string>
		<string>uni0498.alt</string>
		<string>ohungarumlaut</string>
		<string>uni2082</string>
		<string>uni0493.alt</string>
		<string>uni2084</string>
		<string>uni04D8</string>
		<string>uni04D4</string>
		<string>uni04D7</string>
		<string>uni04D6</string>
		<string>uni04D1</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni04F3</string>
		<string>uni1E9E</string>
		<string>uni04AB.alt02</string>
		<string>uni04C6</string>
		<string>uniF539</string>
		<string>uniF538</string>
		<string>uniF533</string>
		<string>uniF532</string>
		<string>uniF531</string>
		<string>uniF530</string>
		<string>uniF537</string>
		<string>uniF536</string>
		<string>uniF535</string>
		<string>uniF534</string>
		<string>guilsinglright</string>
		<string>lozenge</string>
		<string>Gcircumflex</string>
		<string>Uogonek</string>
		<string>Cacute</string>
		<string>perthousand</string>
		<string>Sacute</string>
		<string>uni04F8</string>
		<string>zdotaccent</string>
		<string>hcircumflex</string>
		<string>Scommaaccent</string>
		<string>Zacute</string>
		<string>uni0492.alt</string>
		<string>uniF62E</string>
		<string>cacute</string>
		<string>uniF62C</string>
		<string>Ncaron</string>
		<string>uni04B1</string>
		<string>uni04B9</string>
		<string>rcaron</string>
		<string>Ccaron</string>
		<string>uni04E3</string>
		<string>uni04E0</string>
		<string>uniF52A</string>
		<string>uni2C68</string>
		<string>uni2C67</string>
		<string>uni04E7</string>
		<string>tcommaaccent</string>
		<string>uni04E4</string>
		<string>afii61289</string>
		<string>sacute</string>
		<string>gbreve</string>
		<string>quotedblleft</string>
		<string>uni03A9</string>
		<string>uni048B</string>
		<string>uni048E</string>
		<string>uni048D</string>
		<string>uni048F</string>
		<string>zacute</string>
		<string>Tcaron</string>
		<string>uni048A</string>
		<string>afii10846</string>
		<string>uni04AA.alt02</string>
		<string>Lcommaaccent</string>
		<string>hbar</string>
		<string>Racute</string>
		<string>uhungarumlaut</string>
		<string>uni04A6</string>
		<string>uni04A7</string>
		<string>uni04A4</string>
		<string>uni04A5</string>
		<string>uni04A3</string>
		<string>uni04A0</string>
		<string>uni04A1</string>
		<string>uni04CF</string>
		<string>uni04A8</string>
		<string>uni04A9</string>
		<string>partialdiff</string>
		<string>Zdotaccent</string>
		<string>trademark</string>
		<string>uniF40C</string>
		<string>uniF6D4</string>
		<string>uniF40A</string>
		<string>pi</string>
		<string>uniF6D1</string>
		<string>uniF6D0</string>
		<string>uni00AD</string>
		<string>uniF40D</string>
		<string>uniF409</string>
		<string>uniF408</string>
		<string>uni00A0</string>
		<string>uniF407</string>
		<string>uniF406</string>
		<string>Amacron</string>
		<string>CR</string>
		<string>uniF52B</string>
		<string>uni04AF</string>
		<string>uni04AD</string>
		<string>uni04AE</string>
		<string>uni04AC</string>
		<string>uni04AA</string>
		<string>uni1E30</string>
		<string>Dcaron</string>
		<string>uniF529</string>
		<string>lslash</string>
		<string>uniF520</string>
		<string>uni0394</string>
		<string>Dcroat</string>
		<string>uniF523</string>
		<string>infinity</string>
		<string>uniF513</string>
		<string>uniF524</string>
		<string>uniF526</string>
		<string>uniF527</string>
		<string>emdash</string>
		<string>uniF486</string>
		<string>afii10055.alt</string>
		<string>guilsinglleft</string>
		<string>uni1E3F</string>
		<string>uni1E3E</string>
		<string>uni04DD</string>
		<string>ncaron</string>
		<string>uni04E8</string>
		<string>uni04E9</string>
		<string>uni04E2</string>
		<string>uni04BF</string>
		<string>uni04BE</string>
		<string>uni04BD</string>
		<string>uni04BC</string>
		<string>uni04BB</string>
		<string>uni04BA</string>
		<string>uni04E5</string>
		<string>Zcaron</string>
		<string>uni20B9</string>
		<string>uni20B4</string>
		<string>uni20B7</string>
		<string>uniF52C</string>
		<string>uniF52D</string>
		<string>uniF52E</string>
		<string>uniF52F</string>
		<string>uniF528</string>
		<string>ecaron</string>
		<string>uni20BE</string>
		<string>uni20BD</string>
		<string>uniF522</string>
		<string>uni20BF</string>
		<string>uni20BA</string>
		<string>uniF525</string>
		<string>uni20BC</string>
		<string>uni20BB</string>
		<string>uni04AA.alt</string>
		<string>Hbar</string>
		<string>uni01F4</string>
		<string>uni01F5</string>
		<string>uni04B7</string>
		<string>uni04B6</string>
		<string>OE</string>
		<string>uni04B8</string>
		<string>uni04B3</string>
		<string>uni04B2</string>
		<string>uni04B0</string>
		<string>uni04EB</string>
		<string>uni04EC</string>
		<string>uniF634</string>
		<string>uni04A2</string>
		<string>uni04B5</string>
		<string>aogonek</string>
		<string>uni04EA</string>
		<string>uniF521</string>
		<string>uni048C</string>
		<string>uni04EF</string>
		<string>uni04ED</string>
		<string>uni049F</string>
		<string>uni049B</string>
		<string>uni049C</string>
		<string>uni049A</string>
		<string>eogonek</string>
		<string>Umacron</string>
		<string>Scircumflex</string>
		<string>uni2083</string>
		<string>ellipsis</string>
		<string>nacute</string>
		<string>uni2081</string>
		<string>zcaron</string>
		<string>scommaaccent</string>
		<string>uniF635</string>
		<string>uni04CD</string>
		<string>rcommaaccent</string>
		<string>Uring</string>
		<string>emacron</string>
		<string>uni04CE</string>
		<string>dagger</string>
		<string>integral</string>
		<string>uni04D5</string>
		<string>Gcommaaccent</string>
		<string>uni04FC</string>
		<string>scircumflex</string>
		<string>uni04FD</string>
		<string>afii57929</string>
		<string>uogonek</string>
		<string>uni04D3</string>
		<string>fraction</string>
		<string>Omacron</string>
		<string>Iogonek</string>
		<string>uni0497</string>
		<string>uni04F2</string>
		<string>uni04F1</string>
		<string>uni04F0</string>
		<string>uni04F7</string>
		<string>uni04F6</string>
		<string>uni04F5</string>
		<string>uniF40B</string>
		<string>uni04F9</string>
		<string>iogonek</string>
		<string>uni0494</string>
		<string>uniF40E</string>
		<string>uniF62F</string>
		<string>uniF4C6</string>
		<string>uniF4C7</string>
		<string>uni0495</string>
		<string>jcircumflex</string>
		<string>quotedblbase</string>
		<string>uni049D</string>
		<string>uni049E</string>
		<string>uniF487</string>
		<string>daggerdbl</string>
		<string>uniF489</string>
		<string>uniF488</string>
		<string>uni04E1</string>
		<string>uniF62D</string>
		<string>ubreve</string>
		<string>uniF401</string>
		<string>uni0493</string>
		<string>approxequal</string>
		<string>Imacron</string>
		<string>scedilla</string>
		<string>uniF4D7</string>
		<string>uniF4D6</string>
		<string>uni0499.alt</string>
		<string>bullet</string>
		<string>uniF4CC</string>
		<string>uni04F4</string>
		<string>uniF4CD</string>
	</array>
</dict>
</plist>
